*{
    box-sizing: border-box;
}

body{
    margin-left: 10%;
    margin-right: 10%;
}

.search{
    margin: auto;
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.search input{
    width: 100%;
    font-size: 16px;
    color: black;
    font-weight: 300; 
    border: none;
    height: auto;
    padding: 15px;
    outline: 0;
    margin: auto;
    border-radius: .3em;
    border: 3px solid rgba(0,0,0, 0.05);
    background-color: white;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

.gallery img{
    padding: 2%;
}